body{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#content{
    background-color: rgb(115, 121, 131);
    width: 500px;
    height: 600px;
    display: grid;
    margin: 50px;
    gap: 3px;
    grid-template-columns: repeat(4, 1fr);
    border: 3px solid rgb(43, 43, 43);
    border-radius: 20px 20px 10px 10px;

}
.display1{
    display: grid;
    grid-column: span 4;
    grid-auto-rows: 10px;
    background-color: rgb(250, 146, 146);
    border-radius: 10px 10px 0px 0px;
    margin: 5px;
    font-size: 30px;
    text-align: right;
    align-items: first baseline;
}
.display2{
    display: flex;
    grid-column: span 4;
    grid-auto-rows: 90px;
    background-color: rgb(250, 146, 146);
    border-radius: 10px 10px 10px 10px;
    margin: 5px;
    font-size: 50px;
    padding: 5px;
    justify-content: right;
    align-items: center;
}
.num-key{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 3px;
    border: 1px solid rgb(10, 10, 10);
}

.op-key{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: rgb(98, 224, 255);
    border-radius: 10px;
    margin: 3px;
    border: 1px solid rgb(10, 10, 10);
}

.key-s{
    color: black;
    display: grid;
    grid-column: span 2;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: rgb(83, 147, 236);
    border-radius: 10px;
    margin: 3px;
    border: 1px solid rgb(0, 0, 0);
}